<mat-card class="provider-card" appearance="outlined">
  <mat-card-header style="margin-bottom: 15px;">
    <button matButton (click)="location.back()"><mat-icon aria-hidden="false" fontIcon="arrow_back"></mat-icon>Takaisin</button>
  </mat-card-header>

  @if (item(); as provider) {
    <mat-card-content>
      <div class="flex flex-col gap-4">
        @if (bannerSrc(); as src) {
          <img mat-card-image [src]="src" [alt]="provider.name" style="max-width: 100%; object-fit: contain;">
        }
        <div class="provider-card">

          <div>
            <b>{{ provider.name }}</b>
          </div>
          <div>
            Osoite: {{ provider.address }}<br>
          </div>

          <p>
            <b>Kuvaus</b>
            <span [innerHTML]="provider.description"></span>
          </p>
          <mat-divider></mat-divider>
          <p>
            <b>Näin pääset hyödyntämään</b>
            <span [innerHTML]="provider.instructions"></span>
          </p>
          <mat-divider></mat-divider>

          TODO: Tähän sijainti google maps kartalla
        </div>

      </div>
    </mat-card-content>
    <mat-card-actions>
      <div>
        <p class="alert">
          <b>Tärkeää tietoa</b>
          <br />
          Klikkaa "näytä henkilökunnalle" vasta kun olet paikan päällä.
        </p>
        <button matButton="filled" style="text-transform: uppercase; margin-bottom: 15px;">Näytä henkilökunnalle</button>
      </div>
    </mat-card-actions>
  } @else {
    <mat-card-content>
      <div class="loading">
        <mat-spinner diameter="32"></mat-spinner>
      </div>
    </mat-card-content>
  }
</mat-card>
